<div class="event-loop-walkthrough event-loop-walkthrough-3">
  <div class="js-source">
    <div class="line-highlight"></div>
<div class="codehilite"><pre><span class="c1">// Let's get hold of those elements</span>
<span class="kd">var</span> <span class="nx">outer</span> <span class="o">=</span> <span class="nb">document</span><span class="p">.</span><span class="nx">querySelector</span><span class="p">(</span><span class="s1">'.outer'</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">inner</span> <span class="o">=</span> <span class="nb">document</span><span class="p">.</span><span class="nx">querySelector</span><span class="p">(</span><span class="s1">'.inner'</span><span class="p">);</span>

<span class="c1">// Let's listen for attribute changes on the</span>
<span class="c1">// outer element</span>
<span class="k">new</span> <span class="nx">MutationObserver</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
  <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'mutate'</span><span class="p">);</span>
<span class="p">}).</span><span class="nx">observe</span><span class="p">(</span><span class="nx">outer</span><span class="p">,</span> <span class="p">{</span>
  <span class="nx">attributes</span><span class="o">:</span> <span class="kc">true</span>
<span class="p">});</span>

<span class="c1">// Here's a click listener…</span>
<span class="kd">function</span> <span class="nx">onClick</span><span class="p">()</span> <span class="p">{</span>
  <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'click'</span><span class="p">);</span>

  <span class="nx">setTimeout</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'timeout'</span><span class="p">);</span>
  <span class="p">},</span> <span class="mi">0</span><span class="p">);</span>

  <span class="nx">Promise</span><span class="p">.</span><span class="nx">resolve</span><span class="p">().</span><span class="nx">then</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'promise'</span><span class="p">);</span>
  <span class="p">});</span>

  <span class="nx">outer</span><span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s1">'data-random'</span><span class="p">,</span> <span class="nb">Math</span><span class="p">.</span><span class="nx">random</span><span class="p">());</span>
<span class="p">}</span>

<span class="c1">// …which we'll attach to both elements</span>
<span class="nx">inner</span><span class="p">.</span><span class="nx">addEventListener</span><span class="p">(</span><span class="s1">'click'</span><span class="p">,</span> <span class="nx">onClick</span><span class="p">);</span>
<span class="nx">outer</span><span class="p">.</span><span class="nx">addEventListener</span><span class="p">(</span><span class="s1">'click'</span><span class="p">,</span> <span class="nx">onClick</span><span class="p">);</span>

<span class="nx">inner</span><span class="p">.</span><span class="nx">click</span><span class="p">();</span>
</pre></div>

  </div>
  <table>
    <tr class="task-queue">
      <th>Tasks</th>
      <td>
        <div class="event-loop-items">
          <div class="event-loop-rail">
            <div class="event-loop-item">Run script</div>
            <div class="event-loop-item">setTimeout callback</div>
            <div class="event-loop-item">setTimeout callback</div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="microtask-queue">
      <th>Microtasks</th>
      <td>
        <div class="event-loop-items">
          <div class="event-loop-rail">
            <div class="event-loop-item">Promise then</div>
            <div class="event-loop-item">Mutation observers</div>
            <div class="event-loop-item">Promise then</div>
          </div>
        </div>
      </td>
    </tr>
    <tr class="js-stack">
      <th>JS stack</th>
      <td>
        <div class="event-loop-items"></div>
      </td>
    </tr>
    <tr class="event-loop-log">
      <th>Log</th>
      <td>
        <div class="event-loop-items">
          <div class="event-loop-item">click</div>
          <div class="event-loop-item">click</div>
          <div class="event-loop-item">promise</div>
          <div class="event-loop-item">mutate</div>
          <div class="event-loop-item">promise</div>
          <div class="event-loop-item">timeout</div>
          <div class="event-loop-item">timeout</div>
        </div>
      </td>
    </tr>
  </table>
  <div class="event-loop-controls">
    <svg viewBox="0 0 5 2">
      <path d="M2,0 L2,2 L0,1 z" />
      <path d="M3,0 L5,1 L3,2 z" />
      <path class="prev-btn" d="M0,0 H2.5V2H0z" />
      <path class="next-btn" d="M2.5,0 H5V2H2.5z" />
    </svg>
  </div>
  <div class="event-loop-commentary">
    <div class="event-loop-commentary-item"></div>
  </div>
</div>
